html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  background: #12101a;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

.mat-mdc-table {
  background: transparent;
}

.mat-mdc-dialog-surface {
  background: #3a3844;
  color: #ffffff;
  border-radius: 16px;
}

.snack-success {
  background-color: #16c67b;
  color: #062c1c;
}

.snack-error {
  background-color: #f06292;
  color: #2a0612;
}
